//
//  Multitarget.xcconfig
//  InfluxDBSwift
//
//  Created by takumiabe on 2017/10/16.
//

SUPPORTED_PLATFORMS = "macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator"

LD_RUNPATH_SEARCH_PATHS = "@executable_path/Frameworks @loader_path/Frameworks";
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = "@executable_path/../Frameworks @loader_path/../Frameworks";

FRAMEWORK_SEARCH_PATHS[sdk=appletvos*] = "$(SRCROOT)/Carthage/Build/tvOS";
FRAMEWORK_SEARCH_PATHS[sdk=appletvsimulator*] = "$(SRCROOT)/Carthage/Build/tvOS";
FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = "$(SRCROOT)/Carthage/Build/iOS";
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = "$(SRCROOT)/Carthage/Build/iOS";
FRAMEWORK_SEARCH_PATHS[sdk=watchos*] = "$(SRCROOT)/Carthage/Build/watchOS";
FRAMEWORK_SEARCH_PATHS[sdk=watchsimulator*] = "$(SRCROOT)/Carthage/Build/watchOS";
FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = "$(SRCROOT)/Carthage/Build/Mac";
