//
//  Multitarget.xcconfig
//  InfluxDBSwift
//
//  Created by takumiabe on 2017/10/16.
//

SUPPORTED_PLATFORMS = "macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator"

LD_RUNPATH_SEARCH_PATHS = "@executable_path/Frameworks @loader_path/Frameworks";
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = "@executable_path/../Frameworks @loader_path/../Frameworks";
